<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNW-z80nWcAdqB_34KytuKcl_b2iMYQGU</string>
	<key>GCM_SENDER_ID</key>
	<string>897985872810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.astrologyai.app</string>
	<key>PROJECT_ID</key>
	<string>future-ai-b05ad</string>
	<key>STORAGE_BUCKET</key>
	<string>future-ai-b05ad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897985872810:ios:a8de873f945192959aa1d3</string>
</dict>
</plist>